
  body {
    font: 10px Raleway;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #999;
    shape-rendering: crispEdges;
  }
  .tick line{
    opacity: 0.2;
  }
  .x.axis path {
    display: none;
  }
  .d3-tip {
    line-height: 1;
    /*font-weight: bold;*/
    padding: 7px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    font-size: 1.1em;
  }
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
  form {
    font-family: Raleway;
    position: relative;
    min-width: 100px;
      }

  h2 {
   position:absolute;
   left: 140px;
 }
 .arc {
  stroke: #fff;
}

path:hover {
  stroke: #999;
  transition-delay: 0;
}

label {
  margin: 0;
  font-weight: lighter;
}

.year {
  font-size: 2em;
  font-family: Raleway;
  color: #777;
}

h4{
  margin-bottom: 0;
}

nav.primary{
display: table;
margin: 0 auto;
 }
nav.primary ul,
nav.primary ul li {
margin: 0px;
}

nav.primary select {
display: none;
width:  100%;
height: 28px;
margin: 21px 0;
}

nav.primary ul li a {
display: inline-block;
line-height: 49px;
padding:  0 14px;
color: white;
text-transform: uppercase;
text-decoration: none;
font-weight: bold;
letter-spacing: 0.08em;
background: ##999999;
}


nav.primary{
display: table;
margin: 0 auto;
 }
nav.primary ul,
nav.primary ul li {
margin: 0px;

}

nav.primary select {
display: none;
width:  100%;
height: 28px;
margin: 21px 0;
}

nav.primary ul li {
display: inline;
float: left;
position: relative;
}

nav.primary ul li a {
display: inline-block;
line-height: 49px;
padding:  0 14px;
color: black;
text-transform: uppercase;
text-decoration: none;
font-weight: bold;
letter-spacing: 0.08em;
background: ##999999;
color: #999;
}

nav.primary ul li a:hover {
background: #4BACC6;
cursor: pointer;
color: #fff;
}

nav.primary ul li {
display: inline;
float: right; 
position: relative;
color: #999;
}
